.item {
  width: 400px;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.status {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.online,
.offline {
  composes: status;
}

.online {
  background-color: #64ae55;
}

.offline {
  background-color: #e6615c;
}

.avatar {
  width: 95px;
  height: 95px;
  border-radius: 15%;
  margin-right: 18px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}
